{name, "Seresye"}.
{authors, ["Eric Merritt <ericbmerritt@gmail.com>"]}.
{description, "SERESYE means Swarm oriented ERlang Expert SYstem Engine. It is a library to write expert systems and rule processing engines using the Erlang programming language. It allows to create multiple engines, each one with its own facts and rules to be processed."}.
{homepage, "http://www.afiniate.com/"}.
{rebar_compatible, true}.
{url, {git, "https://github.com/afiniate/seresye.git", {tag, "0.0.4"}}}.
{applications, [erlware_commons]}.
